body{
    background: var(--color-black);
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
    transition-duration: 200ms;
}

a:hover {
    text-decoration: underline;
    color: #5a5a5a;
}

.card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.container .card
{
    margin-bottom: 50px;
}

.hideCard
{
    display: none;
}


footer{
    background: #e9ecef;
}

.itens{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens button {
    width: 180px;
    margin: 8px;
}

.accordion{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion .card {
    margin: 8px 0;

    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update {
    display: flex;
    align-items: center;
    justify-content: start;

    width: 45%;
}
.update + .update {
    margin-top: 8px;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;

    border: #5a5a5a solid 1px;
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border-radius: 10%;
}

.copyright{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    bottom: 0;
    height: 40px;

    color: white;
}

i{
    margin-right: 10px;
}

.card-body{
    background: var(--color-bg);
    color: var(--color-text);
}

.jumbotron{
    background: var(--color-bg);
    color: var(--color-text);
}

.invisible{
    display: none;
}

.itens{
    background: var(--color-bg);
}

.accordion{
    background: var(--color-bg);
}

.dd{
    border: 1px solid var(--color-text);
}

.fa-code{
    color: var(--color-text);
}

.card{
    border: 0.3px solid var(--color-extra);
}

@media only screen and (max-width: 600px) {
    .itens{
        display: flex;
        flex-direction: column;
    }
    .accordion .card {
        width: 90vw;
    }
    
}

@media only screen and (max-width: 950px) {
    .update {
        width: 90%;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #222;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #222;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }